.place__image{
    max-width: 460px;
    max-height: 460px;
    justify-self: start;
    align-self: start;
    grid-column: 1;
    grid-row: 2;
}

@media screen and (max-width: 768px){
    .place__image{
        max-width: 340px;
        max-height: 340px;
        
    }
}

@media screen and (max-width: 540px){
    .place__image{
        grid-row: 3;
        grid-column: 1;
        max-width: 500px;
        max-height: 500px;
    }
}

@media screen and (max-width: 320px){
    .place__image{
        grid-row: 3;
        grid-column: 1;
        max-width: 320px;
        max-height: 320px;
    }
}