.place__article{
    grid-column: 2;
    grid-row: 2;
    max-width: 484px;
}

@media screen and (max-width: 1024){
    .place__article{
        padding-bottom: 25px;
        max-width: 456px;
    }
}

@media screen and (max-width: 768){
    .place__article{
        max-width: 352px;
    }
}

@media screen and (max-width: 540px){
    .place__article{
        grid-column: 1;
        grid-row: 4;
        max-width: 500px;
    }
}

@media screen and (max-width: 320px){
    .place__article{
        grid-column: 1;
        grid-row: 4;
        max-width: 288px;
    }
}