.lead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 56px;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 1024px){
    .lead{
        padding-top: 48px;
    }
}

