.photo-grid__item{
    max-width: 284px;
    max-height: 213px;
    padding: 0;
} 
@media screen and (max-width: 1187px){
    .photo-grid__item{
        max-width: 352px;
        max-height: 264px;
    }
}
@media screen and (max-width: 1024px){
    .photo-grid__item{
    max-width: 300px;
    max-height: 225px;
    }
}
@media screen and (max-width: 885px){
    .photo-grid__item{
    max-width: 372px;
    max-height: 284px;
    }
}
@media screen and (max-width: 768px){
    .photo-grid__item{
    max-width: 352px;
    max-height: 264px;
    }

}
@media screen and (max-width: 678px){
    .photo-grid__item{
    max-width: 552px;
    max-height: 464px;
    }

}
@media screen and (max-width: 400px){
    .photo-grid__item{
        max-width: 372px;
        max-height: 284px;
    }
}
@media screen and (max-width: 320px){
    .photo-grid__item{
    max-width: 288px;
    max-height: 216px;
    }
}