.header{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    margin: 0 48px;
    position: relative;
}

@media screen and (max-width: 768px){
    .header{
        padding-top: 28px;
        margin: 0 24px;
    }
}
@media screen and (max-width: 320px){
    .header{
        padding-top: 16px;
        margin: 0 16px;
    }
}