.lead__caption{
    font-size: 14px;
    line-height: 1.4;
    color: white;
    font-weight: 400;
    padding-top: 8px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    }


    @media screen and (max-width: 930px){
        .lead__caption{
            padding-left: 20px;
        }
    }

    @media screen and (max-width: 768px){
        .lead__caption{
            padding-left: 24px;
        }
    }
    @media screen and (max-width: 320px){
        .lead__caption{
            padding-left: 16px;
        }
    }